@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

:root {
    color: var(--color-slate-900);
    --bg-color: var(--color-gray-100);
    --bg-dark-color: var(--color-slate-900);
    --border-color: var(--color-gray-200);
    --primary-color: var(--color-blue-600);
}
